.statusBox {
  display: flex;
  align-items: center;

  gap: 4px;

  font-size: 10px;
  padding: 2px 4px;

  min-width: 100%;

  border: 2px solid transparent;
  border-radius: 8px;
}
.success {
  fill: var(--clr-success);
  border-color: var(--clr-success);
  color: var(--clr-success);
}
.pending {
  fill: var(--clr-warning);
  border-color: var(--clr-warning);
  color: var(--clr-warning);
}
.rejected {
  fill: var(--clr-error);
  border-color: var(--clr-error);
  color: var(--clr-error);
}
