@import './sass/utils/root';
@import './sass/utils/breakPoints';
// @import './sass/utils/theme';

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

html {
  box-sizing: border-box;
  /* відміняє синій фон при дотику по обєктах на тачскірінах */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

:root {
  // height: 100%;
}

html {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: 'Montserrat', sans-serif;

  color: #212121;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.05em;

  background-color: #ffffff;
  margin: 0;
  height: 100%;
  max-height: 100%;
}

#root {
  height: 100%;
  max-height: 100%;
}

.NotScroll {
  overflow: hidden;
}

/* ----------------- НОРМАЛІЗАЦІЯ -------------- */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* ТАБЛИЦі */
table {
  border-collapse: collapse;
  table-layout: fixed;
  margin: 0;
}

th,
tr {
  border: 0;
  padding: 0;
  margin: 0;

  user-select: none;
}

/* СПИСКИ */
ul {
  list-style: none;
  padding-inline-start: 0;
  margin: 0;
}


/* АДРЕСИ */
address {
  font-style: normal;
}

/* ЗОБРАЖЕННЯ */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* ----------------- СКРИТІ ЕЛЕМЕНТИ */
.visually-hidden {
  position: absolute;
  width: 0;
  height: 0;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ----------------- SCROLLBAR */
//@media screen and (min-width: 480px) {
//  ::-webkit-scrollbar {
//    width: 8px;
//    height: 8px;
//  }
//  ::-webkit-scrollbar-track {
//    // background-color: var(--bckgrndDarkClr_secondary);
//    background-color: transparent;
//    // border-radius: 6px;
//  }
//  ::-webkit-scrollbar-button {
//    height: 0;
//    width: 0;
//    overflow: hidden;
//  }
//  ::-webkit-scrollbar-thumb {
//    background-color: var(--darkOrange);
//    border-radius: 0;
//  }
//  ::-webkit-scrollbar-thumb:active {
//    background-color: var(--darkOrange);
//  }
//  ::-webkit-scrollbar-thumb:hover {
//    background-color: var(--darkOrange);
//  }
//  ::-webkit-scrollbar-corner {
//    background-color: var(--bckgrndDarkClr_main);
//  }
//}

// & .slick-prev:before,
// & .slick-next:before {
// }
/* // bimp
// --scrollbar-top-offset: 0px;
// --scrollbar-bottom-offset: 0px;
// --scrollbar-left-offset: 0px;
// --scrollbar-right-offset: 0px; */
.css-1ptx2yq-MuiInputBase-root-MuiInput-root:after {
  border-bottom: 2px solid rgb(118, 119, 152);
}

@keyframes BackdropAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes ModalAnimation {
  from {
    transform: translate(-50%, -50%) scale(0.8);
    // transform: translate(-50%, -50%);
  }
  to {
    transform: translate(-50%, -50%) scale(1);
    // transform: translate(-50%, -50%);
  }
}

@keyframes animate-border {
  0% {
    border-image: linear-gradient(to right, red, yellow);
  }
  50% {
    border-image: linear-gradient(to right, green, blue);
  }
  100% {
    border-image: linear-gradient(to right, red, yellow);
  }
}

.border-gradient {
  animation: animate-border 5s infinite;
}

.gradient-border {
  border: 2px solid transparent;
  background-clip: padding-box;
  padding: 10px;
  font-size: 16px;
  font-family: sans-serif;
  transition: border-color 0.3s ease-in-out;
  /* задній план градієнта */
  background-image: linear-gradient(to right, #f12711, #f5af19);
  /* задаємо фоновий колір, щоб градієнт був більш видимий */
  background-color: #f7f7f7;
}

.gradient-border:focus {
  /* задаємо центральний колір градієнту */
  border-image-source: linear-gradient(to right, #f12711, #f5af19);
  /* задаємо розмір градієнту */
  border-image-slice: 1;
  /* задаємо напрямок градієнту */
  border-image-orientation: to right;
  /* задаємо тип повторення градієнту */
  border-image-repeat: stretch;
  /* задаємо швидкість анімації */
  animation: gradient-border 2s ease-in-out forwards;
}

@keyframes gradient-border {
  /* змінюємо кольори градієнту від центру до країв */
  0% {
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, #f12711, #f5af19);
  }
  50% {
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, #f5af19, #f12711);
  }
  100% {
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, #f12711, #f5af19);
  }
}
